#bets {
  border-collapse: collapse;
  width          : 100%;
}

caption {
  color    : black;
  font-size: 30pt;
}

#bets td,
#bets th {
  text-align: center;
  border    : 1px solid #ddd;
  padding   : 8px;
}

#bets tr:nth-child(even) {
  background-color: #f2f2f2;
}

#bets tr:hover {
  background-color: #ddd;
}

#bets th {
  padding-top     : 12px;
  padding-bottom  : 12px;
  text-align      : left;
  background-color: #f1a10c;
  color           : white;
}