#bets {
  border-collapse: collapse;
  width          : 100%;
}

caption {
  color    : black;
  font-size: 30pt;
}

#bets td {
  text-align: center;
  border    : 1px solid #ddd;
  padding   : 8px;
}

.lose {
  background-color: red;
}

.victory {
  background-color: green;
}

.nodata {
  background-color: gray;
}

.ratAlign {
  padding-left  : 42%;
  padding-top   : 1rem;
  padding-bottom: 2rem;
}

.ratPicture {
  width     : 300px;
  height    : 200px;
  align-self: center;
}

.birth {
  padding-top: 2rem;
}

.details h1 {
  padding-top   : 2rem;
}

.details p {
  padding-top: 1vh;
  padding-left: 2rem;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
}