h1 {
    padding-top: 10vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 50px;
}

table, td, th {
    border: 1px solid black;
  }

  table {
    
    width: 90%;
    border-collapse: collapse;
  }

  .table_padding{
    padding-left: 10%;
  }